header {
    color: black;
    font-size: 2em;
}

#headerNav {
    text-align: center;
    
}

body {
  margin: 0;
}


#navbar {
  list-style-type: none;
  margin: 0;
  margin-left: -2%;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

a.active {
  background-color: #04AA6D;
  color: white;
}

 a:hover:not(.active) {
  background-color: #555;
  color: white;
 }
 